<div class="container text-center">
      <div class="card text-white bg-danger mt-5 col-6 m-auto">
        <div class="card-header">
          <p class="h3"><%= status %></p>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= message %></h5>
        </div>
      </div>
    </div>
    <!-- SCRIPT -->
    <!-- <script>
      setTimeout(() => {
        window.location = "/";
      }, 5000);
    </script> -->
  </body>
</html>
